@font-face {
  font-family: 'America Mono';
  src: url(https://cdn.glitch.com/c8411ee0-b2bb-481b-8835-6b597f185b9c%2FGT-America-Mono-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'America Mono';
  src: url(https://cdn.glitch.com/c8411ee0-b2bb-481b-8835-6b597f185b9c%2FGT-America-Mono-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'America Mono';
  src: url(https://cdn.glitch.com/c8411ee0-b2bb-481b-8835-6b597f185b9c%2FGT-America-Mono-Regular-Italic.otf);
  font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#1A1919
}
