.Annotation{
  position:fixed;
  bottom:var(--annotation-h-margin);
  left:calc(85vw + var(--annotation-h-margin));
  font-family:'America Mono';
  font-size:10px;
  text-align:left;
  width:calc(var(--app-h-margin) - var(--annotation-h-margin) * 2)
}
.Annotation .footnote{
  color:var(--accent-red);
}

@media only screen and (max-width: 800px) {
  .Annotation{
  position:relative;
  left:0;
  bottom:auto;
  width:calc(100% - var(--mission-h-margin) * 2);
  grid-column-start: 1;
  grid-column-end: 9;
  margin: var(--mission-h-margin) var(--mission-h-margin) 0 var(--mission-h-margin);
  padding-top:calc(var(--mission-h-margin));
  border-top:solid 1px white;
  }
}

