@font-face {
  font-family: 'America Mono';
  src: url(https://cdn.glitch.com/c8411ee0-b2bb-481b-8835-6b597f185b9c%2FGT-America-Mono-Trial-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'America Mono';
  src: url(https://cdn.glitch.com/c8411ee0-b2bb-481b-8835-6b597f185b9c%2FGT-America-Mono-Trial-Regular.otf);
  font-weight: normal;
}
:root{
  --app-h-margin: 15vw;
  --accent-red: #EB5757;
  --bg-color: #1A1919;
  --app-v-padding: 80px;
  --body-text-size: 40px;
  --accent-grad: linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670);
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  margin:0 var(--app-h-margin) 0 var(--app-h-margin);
  padding: calc(var(--app-v-padding)*2) 0 var(--app-v-padding) 0;
  color:white;
  font-family:'EB Garamond', serif;
  position:relative;
}

@media only screen and (max-width: 800px) {
  :root{
    --app-h-margin: 16px;
    --body-text-size: 24px;
    --app-v-padding: 40px;
  }
  .App{
    padding: var(--app-v-padding) 0 var(--app-v-padding) 0;
  }
}
