
:root{
  --app-h-margin: 18vw;
  --accent-red: #EB5757;
  --bg-color: #1A1919;
  --app-v-padding: 80px;
  --body-text-size: 36px;
  --accent-grad: linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670);
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  margin:0 var(--app-h-margin) 0 var(--app-h-margin);
  padding: calc(var(--app-v-padding)*2) 0 var(--app-v-padding) 0;
  color:white;
  font-family:'EB Garamond', serif;
  position:relative;
}

@media only screen and (max-width: 800px) {
  :root{
    --app-h-margin: 0;
    --body-text-size: 20px;
    --app-v-padding: 40px;
  }
  .App{
    padding: var(--app-v-padding) 0 var(--app-v-padding) 0;
  }
}
