@font-face {
  font-family: 'America Mono';
  src: url(https://cdn.glitch.com/c8411ee0-b2bb-481b-8835-6b597f185b9c%2FGT-America-Mono-Trial-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'America Mono';
  src: url(https://cdn.glitch.com/c8411ee0-b2bb-481b-8835-6b597f185b9c%2FGT-America-Mono-Trial-Regular.otf);
  font-weight: normal;
}
:root{
  --app-h-margin: 15vw;
  --accent-red: #EB5757;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  margin-left:var(--app-h-margin);
  margin-right:var(--app-h-margin);
  color:white;
  font-family:'EB Garamond', serif;
  position:relative;
}

