.Link{
  font-family:'America Mono';
  font-weight:bold;
  font-size:.85em;
  display: inline-block;
  position: relative;
}

.Link:hover{
  cursor:pointer;
  color:var(--accent-red);
}
.Link:after{
   content: '';
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    bottom:0;
    background: var(--accent-red);
    pointer-events: none;
    mix-blend-mode: darken;
    transform:scale(0, 1);
    transform-origin:left;
    transition:transform .5s;
}

.Link:hover:before,.Mission .Link.selected:hover:before{
}

.Link:before{
   content: '';
    display: block;
    position: absolute;
    width:100%;
    height:8%;
    bottom:4%;
    background: white;
    z-index:-1
}
.gallery .Link:before{
  opacity:0.1
}

.Link.currentLink:after{
  transform:scale(1, 1);
  transition:transform 4s linear;
}

.gallery .Link.selected{
  color:var(--accent-red);
}
.gallery .Link.selected:after{
  transform:scale(0, 1);
}
.gallery .Link:before{
  opacity:0.05
}

@keyframes fill {
  0% { 
    width:00%
  }
  100% { 
    width:100%;
  }
}

@media only screen and (max-width: 800px) {

}