:root {
  --mission-h-margin: 24px;
  --mission-v-margin: 120px;
}
.Mission{
  width:calc(100% - var(--mission-h-margin) * 2);
  min-height:100vh;
  margin: var(--mission-v-margin) var(--mission-h-margin) var(--mission-v-margin) var(--mission-h-margin);
  grid-column-start: 1;
  grid-column-end: 9;
}
.Mission section{
  
}
.Mission p{
  text-align:left;
  font-size:40px;
  margin-bottom: 0;
}
.Mission sup{
  font-family:'America Mono';
  font-weight:bold;
  font-size:.7em;
  color:var(--accent-red);
}
.Mission span{
  font-family:'America Mono';
  font-weight:bold;
}