.svgContainer svg{
  max-width:100vw;
  max-height:100vh;
}
svg image{
  opacity:0;
  animation: appear 3s linear 3s;
  animation-fill-mode:forwards
}
path,polygon,polyline{
/*   stroke:#ffff00 !important; */
  animation: draw 4s cubic-bezier(.42,0,1,1);
  stroke-dasharray:1000;
  animation-fill-mode:forwards
}

@keyframes draw {
  0% { 
    stroke-dashoffset:1000
  }
  80%{
    stroke-dashoffset:0;
  }
  100% { 
    stroke-dashoffset:0;
    opacity:0;
  }
}

@keyframes appear {
  0% { 
    opacity:0
  }
  100% { 
    opacity:0.2;
  }
}
