.column_5{
  --column-multiplier:6
}
.svgContainer{
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;left:0;
  z-index:0;
  pointer-events:none;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1;
  transition: all .25s
/*   display:none; */
}
.svgContainer.gallery{
  pointer-events:all;
  background:rgba(0,0,0,0.9)
}
.svgContainer svg{
  min-width:100vw;
  min-height:100vh;
  transition: all .25s
}
.svgContainer.gallery svg{
  min-width: auto;
  min-height: 80vh;
  height:80vh;
  width:auto;
}
.svgContainer.gallery svg image{
  opacity:1;
  animation:none;
  animation-fill-mode:none;
/*   opacity:0;
  animation: appear2 1s cubic-bezier(.42,0,1,1) 1s;
  animation-fill-mode:forwards; */
}

svg image{
  opacity:0;
  animation: appear 1.5s cubic-bezier(.42,0,1,1);
  animation-fill-mode:forwards;
}
path,polygon,polyline{
  stroke:var(--accent-red) !important;
  animation: draw 2s cubic-bezier(.42,0,1,1);
  stroke-dasharray:1000;
  animation-fill-mode:forwards
}
.gallery path,.gallery polygon,.gallery polyline{
/*   animation: draw2 3.5s cubic-bezier(.42,0,1,1);
  animation-fill-mode:forwards */
}


@keyframes draw {
  0% { 
    stroke-dashoffset:1000;
    opacity:1;
  }
  100% { 
    stroke-dashoffset:0;
    opacity:0;
  }
}

@keyframes draw2 {
  0% { 
    stroke-dashoffset:1000;
    opacity:1;
  }
  80%{
    stroke-dashoffset:0;
    opacity:1;
  }
  100% { 
    stroke-dashoffset:0;
    opacity:0;
  }
}

@keyframes appear {
  0% { 
    opacity:0
  }
  100% { 
    opacity:0.15;
  }
}

@keyframes appear2 {
  0% { 
    opacity:0
  }
  100% { 
    opacity:1;
  }
}

.svgContainer.column_1.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*1);
}
.svgContainer.column_2.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*2);
}
.svgContainer.column_3.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*3);
}
.svgContainer.column_4.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*4);
}
.svgContainer.column_5.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*5);
}
.svgContainer.column_6.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*6);
}
.svgContainer.column_7.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*7);
}
.svgContainer.column_8.left{
  left:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*8);
}

.svgContainer.column_1.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*1);
}
.svgContainer.column_2.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*2);
}
.svgContainer.column_3.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*3);
}
.svgContainer.column_4.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*4);
}
.svgContainer.column_5.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*5);
}
.svgContainer.column_6.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*6);
}
.svgContainer.column_7.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*7);
}
.svgContainer.column_8.right{
  right:calc(var(--app-h-margin) + (100vw - 2 * var(--app-h-margin))/8*8);
}

.svgContainer.top{
  top:var(--mission-h-margin);
}
.svgContainer.bottom{
  bottom:var(--mission-h-margin);
}